@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color : #fff;
        background : linear-gradient(135deg , #272929 , #1f1301 , #383939) ;
    }
}

@layer components {
    .menulink {
        @apply cursor-pointer hover:text-[#977a2a];
    }

    .tags {
        background-color: #db9f10;
        margin-right : 0.5rem ;
        margin-top : 0.5rem; 
        padding : 3px  10px ;
        display: inline-block ;
        color : #fff ;
        font-size : 12px ;

    }
    .tags:last-child {
        margin-right: 0;

    }


    .tags:nth-child(2){
        background-color : #a55eea;

    }
    .tags:nth-child(3){
        background-color : #eb4d4b;

    }
    .tags:nth-child(4){
        background-color : #db9f10;

    }

}

